{% extends 'base.html' %} {% block content %} {% load static%}
<section id="home">
    <section class="wrapper">
        {% include 'includes/header.html' %}

        <section class="spotlight">
            <h3>Events</h3>
            <div class="all-posts">
                <div class="post-section">
                    <ul class="posts">
                        {% for event in events %}
                        <li>
                            <a href="">
                                {% if event.image %}
                                <div class="blog-image">
                                    <img src="{{event.image.url}}" alt="Blog" />
                                </div>
                                {% endif %}
                                <div class="details">
                                    <div class="date">
                                        <h4 class="name">
                                            {{event.event_type}}
                                        </h4>
                                        <div class="round"></div>
                                        <span>
                                            {{event.event_date|date:"D d/m/Y"}}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-section" id="hamburger-menu">
                    <form action="">
                        <p class="filter-head">Sort by</p>
                        <div class="filter">
                            <label class="radio">
                                <input type="radio" name="sort" value="today" />
                                <span class="radio"></span>
                                <span class="label">Today</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="sort" value="week" />
                                <span class="radio"></span>
                                <span class="label">This Week</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="sort" value="month" />
                                <span class="radio"></span>
                                <span class="label">This Month</span>
                            </label>
                        </div>
                        <p class="filter-head">Customers</p>
                        <div class="filter">
                            {% for customer in customers %}
                            <label class="checkbox">
                                <input
                                    type="checkbox"
                                    value="{{customer.id}}"
                                    name="customer"
                                />
                                <span class="label"
                                    >{{customer.first_name}}</span
                                >
                            </label>
                            {% endfor %}
                        </div>

                        <input type="submit" value="Filter" />
                    </form>
                </div>
            </div>
        </section>
    </section>
</section>
{% endblock %}
