{% extends 'base.html' %} {% block content %} {% load static%}
<section id="edit-post-home">
    <section class="wrapper">
        {% include 'includes/header.html' %}
        <section class="spotlight">
            <h3>Create new Event</h3>
            <form
                action=""
                method="post"
                enctype="multipart/form-data"
                class="ajax"
            >
                {% csrf_token %}

                <div class="form-field">
                    <label for="{{form.tittle.id_for_label}}" class="subheads">
                        {{form.title.label}}
                    </label>
                    {{form.title}}
                </div>
                <div class="form-field">
                    <label for="form.event.id_for_label" class="subheads">
                        {{form.event.label}}
                    </label>
                    {{form.event}}
                </div>
                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.event_type.id_for_label}}"
                    >
                        {{form.event_type.label}}
                    </label>
                    {{form.event_type}}
                </div>
                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.event_date.id_for_label}}"
                        id="datetimepicker1"
                        data-target-input="nearest"
                    >
                        {{form.event_date.label}}
                    </label>
                    {{form.event_date}}
                </div>

                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.image.id_for_label}}"
                        id="datetimepicker1"
                        data-target-input="nearest"
                    >
                        {{form.image.label}}
                    </label>
                    {{form.image}}
                </div>

                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.single_time.id_for_label}}"
                        id="datetimepicker1"
                        data-target-input="nearest"
                    >
                        {{form.single_time.label}}
                    </label>
                    {{form.single_time}}
                </div>

                <div class="form-field">
                    <input type="submit" value="Submit" />
                    <a href="#" class="button">Delete</a>
                </div>
            </form>
        </section>
    </section>
</section>
<script>
    $(function () {
        $("#datetimepicker1").datetimepicker();
    });
</script>
{% endblock %}
