{% extends 'base.html' %} {% block content %} {% load static%}
<section id="edit-post-home">
    <section class="wrapper">
        {% include 'includes/header.html' %}
        <section class="spotlight">
            <h3>Edit Event</h3>
            <form
                action=""
                method="post"
                enctype="multipart/form-data"
                class="ajax"
            >
                {% csrf_token %}

                <div class="form-field">
                    <label for="{{form.tittle.id_for_label}}" class="subheads">
                        {{form.title.label}}
                    </label>
                    {{form.title}}
                </div>
                <div class="form-field">
                    <label for="form.event.id_for_label" class="subheads">
                        {{form.event.label}}
                    </label>
                    {{form.event}}
                </div>
                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.event_type.id_for_label}}"
                    >
                        {{form.event_type.label}}
                    </label>
                    {{form.event_type}}
                </div>
                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.event_date.id_for_label}}"
                        id="datetimepicker1"
                        data-target-input="nearest"
                    >
                        {{form.event_date.label}}
                    </label>
                    {{form.event_date}}
                </div>

                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.image.id_for_label}}"
                        id="datetimepicker1"
                        data-target-input="nearest"
                    >
                        {{form.image.label}}
                    </label>
                    {{form.image}}
                </div>

                <div class="form-field">
                    <label
                        class="subheads"
                        for="{{form.single_time.id_for_label}}"
                        id="datetimepicker1"
                        data-target-input="nearest"
                    >
                        {{form.single_time.label}}
                    </label>
                    {{form.single_time}}
                </div>

                <div class="form-field">
                    <input class="submit" type="submit" value="Submit" />
                </div>
            </form>
            <a href="" class="button delete">Delete</a>
        </section>
    </section>
</section>
<!-- <script src="/static/ckeditor/ckeditor-init.js" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script> -->
<!-- <script src="./js/ckeditor.js"></script> -->
<script>
    // ClassicEditor
    //     .create(document.querySelector('.editor'), {

    //         licenseKey: '',

    //     })
    //     .then(editor => {
    //         window.editor = editor;

    //     })
    //     .catch(error => {
    //         console.error('Oops, something went wrong!');
    //         console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
    //         console.warn('Build id: fbn1rnj89y5k-nohdljl880ze');
    //         console.error(error);
    //     });

    $(function () {
        $("#datetimepicker1").datetimepicker();
    });
</script>
{% endblock %}
